

  $--shadowShift: 10px;
  $--shadowBlur: 20px;
  $--circleColor: rgba(255, 255, 255,0.6);
@keyframes zoom {
	0% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 0;
	  }
	
	  15% {
		opacity: 0.6;
	  }
	  55%{
		  opacity: 0.3;
	  }
	  85% {
		opacity: 0.1;
	  }
	
	  100% {
		transform: translate(-50%, -50%) scale(4);
		opacity: 0;
	  }
}

.circle-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  
  .circle {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform-origin: center center;
	width: 200px;
	height: 200px;
	background-color: transparent;
	border: 10px solid $--circleColor;
	border-radius: 50%;
	box-shadow: inset $--shadowShift $--shadowShift $--shadowBlur
		rgba(55, 84, 170 , 0.2),
	  $--shadowShift $--shadowShift $--shadowBlur
		rgba(55 ,84, 170 , 0.2),
	  inset calc($--shadowShift* -1) calc($--shadowShift * -1)
		$--shadowBlur rgba(255 ,255 ,255 , 1),
	  calc($--shadowShift * -1) calc($--shadowShift * -1)
		$--shadowBlur rgba(255 ,255 ,255 , 1);
	filter: blur(6px);
  
	animation-name: zoom;
	animation-duration: 4s;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
  }

#home {
	.home-img {
		position: relative;
		min-height: 100vh;
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-image: linear-gradient(
			206.34deg,
			#b4e7e5 -22.46%,
			#115567 5.55%,
			#3f6288 40.23%,
			#56789c 70.25%,
			#465f7a 105.59%
		);
		.img-home {
			position: relative;
			width: 15%;
			z-index: 99;
			cursor: pointer;
		}
		.img-home:hover{
			width: 20%;
		}
	}
}

/*silde customer*/
#customer {
	padding-top: 7rem;
	.customer__all {
		display: flex;
		flex-direction: column;
		margin: auto;
		.customer__top {
			display: flex;
			align-items: center;
			justify-content: space-around;
			margin-left: 100px;
			.customer__test {
				flex-basis: 30%;
				.customer__p {
					text-align: justify;
					font-size: 18px;
					line-height: 28px;
					color: #465f7a;
					font-style: normal;
					font-weight: bold;
				}
			}
			.customer__img {
				position: relative;
				left: 110px;
				flex-basis: 60%;
				margin: auto;
				img {
					width: 60%;
				}
			}
		}
		.gtco-testimonials {
			position: relative;
		 	margin: 50px 0;
		 	top: -360px;
		 }
		.customer__bottom {
			position: relative;
			flex-wrap: wrap;
			display: flex;
			justify-content: space-between;
			.owl-theme{
				text-align: center;
				.customer__logo {
					width: 175px;
					height: 175px;
					margin: 15px;
					background: #ffffff;
					border: 1px dashed #aaaaaa;
					box-sizing: border-box;
					cursor: pointer;
					border-radius: 30px;
					img {
						position: relative;
						width: 65%;
						top:30px;
						// filter: alpha(opacity=50);
						right: -30px;
					}
					.silde_logo_8{
						top:65px
					}
				}
			}
		}
	}
}


.container-footer{
	position: relative;
	display: flex;
	flex-direction: column;
}

/* responsive ipad*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {

 .section{
	 margin: 0;
 }  
   #intro{
	   .info-main{
		   display: block;
		   width: 100%;
		   .img-info{
				img{
					position: relative;
					width: 70%;
					transform: translate(10px,45%);
				}
		   }
		   .content-info{
			   display: flex;
			   align-items: center;
			   justify-content: center;
			   flex-wrap: wrap;
			   width: 100%;
			   img{

			   position: absolute;
			   top:18.5%;
			   transform: none;
			   }
			   .content{
				   position: relative;
				   top:180px;
				   width: 70%;
			   }
		   }
	   }
	   .info-detail{
		   position: relative;
		   height: 700px;
		   display: flex;
		   justify-content: center;
			.list-box-info{
				display: flex;
				justify-content: center;
				padding: 25px 35px 35px 35px;
				.box-item{
					width: 200px;
				    height: 200px;
    				margin: 20px;
        			margin: 0 40px;
					.box-left{
						border: 3px dashed #898989;
						box-sizing: border-box;
						border-right: none;
						flex-basis: 50%;
						border-radius: 16px 0 0 16px;
					}
					.box-content{
						.triangle{

						}
					}
				}
			}
	   }
   }
	 #customer {
		.customer__all {
			.customer__top {
				margin: 40px;
				flex-direction: column-reverse;
				.customer__test {
					width: 80%;
					.customer__p {
					}
				}
				.customer__img {
					left: 0;
					img {
						width: 90%;
					}
				}
			}
			.customer__bottom {
				position: relative;
				text-align: center;
				flex-wrap: wrap;
				padding: 25px;
				width: 85%;
				top:2px;
				left: 80px;
				justify-content: space-around;
				.customer__logo {
				}
			}
		}
	}

	#footer{
		background-color: #e5e5e5;
		.container-footer{
			.footer-main{
				padding-bottom: 36px;
			}
			.content-footer{
				padding: 0  0 100px;
  			    width: 75vh;
                height: 100vh;
                border-radius: 30px;
                margin: 0;
                background-color: #ffffff;
				.location-parent{
					.location{
						.location-text{
							.text-cn{
								span{
									font-size: 18px;
								}

								img{
									transform: translateY(7px);
									width: 25%;
								}
							}
							.text-dv{

							}
						}
						.items{
							p{
								padding-bottom: 30px;
							}
						   display: flex;
						}
					}
				}
			}
		}
	}
}

@media only screen and(max-width:768px) {
	#intro{
		.info-detail{
			position: relative;
			height: 500px;
			display: flex;
			justify-content: center;
			.list-box-info{
				display: flex;
				justify-content: center;
				padding: 25px 0px 95px 30px;
				.box-item{
					width: 170px;
				    height: 175px;
    				margin: 20px;
        			margin: 0 30px;
					.box-left{
						border: 3px dashed #898989;
						box-sizing: border-box;
						border-right: none;
						flex-basis: 50%;
						border-radius: 16px 0 0 16px;
					}
					.box-content{
						.text-content{
							.text-number{
								font-size: 34px;
								.sysbol{
									transform: translate(-20px,20px);
								}	
							
							}
							.text-color2{
								.sysbol{
									transform: translate(-12px,38px);
								}	
							}
						}
					}
				}
			}
		}
	}
	
}


/* responsive phone*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
	/* Styles */
	#home {
		.home-img {
			
			.img-home{
				width: 40%;
			}
		}
	}
	
	.menu-mobile,
	.menu-mobile__logo {
		display: block;
	}
	
	#intro{
		padding-top: 9rem;
		.info-detail{
			height: unset;
			.list-box-info{
				transform: translate(0px, 70px);
				padding: 0;
				margin-top: 50px;
				flex-wrap: nowrap;
				justify-content: space-between;
				.box-item{
					width: 110px;
					height: 92px;
					margin: 0;
					.box-left{

					}
					.box-content{
						.text-content{
							.text-number{
								.counter{
									font-size: 36px;
								}
								.sysbol{
									font-size: 20px;
									transform: translate(0px,20px);
								}
							}
							.text-color2{
								.sysbol{

									transform: translate(6px,45px);
								}
							}
						}
					}
				}
			}
		}
	}

	#solution{
		padding-top: 1rem;
	}
	#footer{
		.container-footer{
			.footer-main{
				padding-bottom: 30px;
			}
			.content-footer{
				padding: 0;
  			    width: auto;
                height: 100vh;
                border-radius: 0;
                margin: 0;
				// background-color: #e5e5ee;
				.location-parent{
					.location{
						.location-text{
							.text-cn{
								span{
									font-size: 15px;
								}

								img{
									transform: translateY(0px);
									width: 20%;
								}
							}
							.text-dv{
									font-size: 15px;
							}
						}
						.items{
							p{
								padding-bottom: 0px;
							}
						   display: flex;
						   flex-wrap: wrap;
						}
					}
				}
			}
		}
	}	
   #customer {
		.customer__all {
			.customer__top {
				flex-direction: column-reverse;
				margin: 0;
				.customer__test {
					width: 80%;
					
					.customer__p {
						font-size: 12px;
						line-height: 20px;
					}
				}
				.customer__img {
					left: 15px;
					img {
						width: 85%;
					}
				}
			}
				.customer__bottom {
				position: relative;
				text-align: center;
				flex-wrap: wrap;
				top: 30px;
				.owl-theme{
				// justify-content: space-around;
				.customer__logo {
					width: 90px;
					height: 90px;
					border-radius: 20px;
					img {
						top: 16px;
						left: 16px;
					}
					.silde_logo_8{
						top:35px;
					}
				}
			}
			}
			}
	}
}
