@-webkit-keyframes colorSlide {
  0% {
    background-position: 0% 100%;
  }
  20% {
    background-position: 0% 0%;
  }
  21% {
    background-color: #789cc2;
  }
  29.99% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }
  30% {
    background-color: #789cc2;
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  51% {
    background-color: #789cc2;
  }
  59% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }
  60% {
    background-color: #789cc2;
    background-position: 0% 100%;
  }
  80% {
    background-position: 0% 0%;
  }
  81% {
    background-color: #789cc2;
  }
  90%, 100% {
    background-color: #ffffff;
  }
}

@keyframes colorSlide {
  0% {
    background-position: 0% 100%;
  }
  20% {
    background-position: 0% 0%;
  }
  21% {
    background-color: #789cc2;
  }
  29.99% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }
  30% {
    background-color: #789cc2;
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  51% {
    background-color: #789cc2;
  }
  59% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }
  60% {
    background-color: #789cc2;
    background-position: 0% 100%;
  }
  80% {
    background-position: 0% 0%;
  }
  81% {
    background-color: #789cc2;
  }
  90%, 100% {
    background-color: #ffffff;
  }
}

@-webkit-keyframes trackBallSlide {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
            transform: scale(1) translateY(-20px);
  }
  6% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
            transform: scale(0.9) translateY(5px);
  }
  14% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(40px);
            transform: scale(0.4) translateY(40px);
  }
  15%, 19% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-20px);
            transform: scale(0.4) translateY(-20px);
  }
  28%, 29.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
            transform: scale(1) translateY(-20px);
  }
  30% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
            transform: scale(1) translateY(-20px);
  }
  36% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
            transform: scale(0.9) translateY(5px);
  }
  44% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(40px);
            transform: scale(0.4) translateY(40px);
  }
  45%, 49% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-20px);
            transform: scale(0.4) translateY(-20px);
  }
  58%, 59.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
            transform: scale(1) translateY(-20px);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
            transform: scale(1) translateY(-20px);
  }
  66% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
            transform: scale(0.9) translateY(5px);
  }
  74% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(40px);
            transform: scale(0.4) translateY(40px);
  }
  75%, 79% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-20px);
            transform: scale(0.4) translateY(-20px);
  }
  88%, 100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
            transform: scale(1) translateY(-20px);
  }
}

@keyframes trackBallSlide {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
            transform: scale(1) translateY(-20px);
  }
  6% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
            transform: scale(0.9) translateY(5px);
  }
  14% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(40px);
            transform: scale(0.4) translateY(40px);
  }
  15%, 19% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-20px);
            transform: scale(0.4) translateY(-20px);
  }
  28%, 29.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
            transform: scale(1) translateY(-20px);
  }
  30% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
            transform: scale(1) translateY(-20px);
  }
  36% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
            transform: scale(0.9) translateY(5px);
  }
  44% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(40px);
            transform: scale(0.4) translateY(40px);
  }
  45%, 49% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-20px);
            transform: scale(0.4) translateY(-20px);
  }
  58%, 59.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
            transform: scale(1) translateY(-20px);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
            transform: scale(1) translateY(-20px);
  }
  66% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
            transform: scale(0.9) translateY(5px);
  }
  74% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(40px);
            transform: scale(0.4) translateY(40px);
  }
  75%, 79% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-20px);
            transform: scale(0.4) translateY(-20px);
  }
  88%, 100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
            transform: scale(1) translateY(-20px);
  }
}

@-webkit-keyframes nudgeMouse {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes nudgeMouse {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes scaleIn {
  from {
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
    opacity: .5;
  }
  to {
    -webkit-transform: scale(2.5, 2.5);
            transform: scale(2.5, 2.5);
    opacity: 0;
  }
}

@keyframes scaleIn {
  from {
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
    opacity: .5;
  }
  to {
    -webkit-transform: scale(2.5, 2.5);
            transform: scale(2.5, 2.5);
    opacity: 0;
  }
}

#home {
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(206.34deg, #b4e7e5 -22.46%, #115567 5.55%, #3f6288 40.23%, #56789c 70.25%, #465f7a 105.59%);
}

#home .home-logo {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 60px;
  margin-top: 15px;
}

#home .home-logo img {
  margin-right: 10px;
}

#home .home-img {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .home-img .circle {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.06);
  width: 30rem;
  height: 30rem;
  position: absolute;
  opacity: 0;
  -webkit-animation: scaleIn 4s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
          animation: scaleIn 4s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
}

#home .home-img .home-icon {
  z-index: 100;
  text-align: center;
}

#home .home-img .mouse {
  background: #789cc2 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), color-stop(50%, #ffffff), to(#ffffff));
  background: #789cc2 linear-gradient(transparent 0%, transparent 50%, #ffffff 50%, #ffffff 100%);
  position: absolute;
  width: 42px;
  height: 68px;
  border-radius: 100px;
  background-size: 100% 200%;
  bottom: 1rem;
  -webkit-animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
          animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
}

#home .home-img .mouse:before, #home .home-img .mouse:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

#home .home-img .mouse:before {
  width: 36px;
  height: 62px;
  background-color: #465f7a;
  border-radius: 100px;
}

#home .home-img .mouse:after {
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation: trackBallSlide 5s linear infinite;
          animation: trackBallSlide 5s linear infinite;
}

#home .home-img .img-home {
  position: relative;
  width: 35%;
  z-index: 99;
  cursor: pointer;
}

/*silde customer*/
#customer {
  padding-top: 7rem;
}

#customer .customer__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

#customer .customer__all .customer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 100px;
}

#customer .customer__all .customer__top .customer__test {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

#customer .customer__all .customer__top .customer__test .customer__p {
  text-align: justify;
  font-size: 18px;
  line-height: 28px;
  color: #465f7a;
  font-style: normal;
  font-weight: bold;
}

#customer .customer__all .customer__top .customer__img {
  position: relative;
  left: 110px;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  margin: auto;
}

#customer .customer__all .customer__top .customer__img img {
  width: 60%;
}

#customer .customer__all .gtco-testimonials {
  position: relative;
  margin: 50px 0;
  top: -360px;
}

#customer .customer__all .customer__bottom {
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
}

#customer .customer__all .customer__bottom .owl-theme {
  text-align: center;
}

#customer .customer__all .customer__bottom .owl-theme .customer__logo {
  width: 195px;
  height: 185px;
  margin: 15px;
  background: #ffffff;
  border: 1px dashed #aaaaaa;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
}

#customer .customer__all .customer__bottom .owl-theme .customer__logo img {
  position: relative;
  width: 65%;
  filter: alpha(opacity=50);
}

.container-footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1025px) {
  #footer {
    padding-top: 7rem;
  }
  #footer .container-footer .footer-main {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0 40px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  #footer .container-footer .footer-main #map {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
  #footer .container-footer .footer-main .contact_us {
    -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer .container-footer .footer-main .contact_us .btn-submit {
    margin: 10px 0;
  }
  #footer .container-footer .content-footer .location-parent {
    margin-top: 0;
  }
  #footer .container-footer .content-footer .location-parent .location .location-text {
    -webkit-transform: translateX(-260px);
            transform: translateX(-260px);
  }
  #footer .container-footer .content-footer .location-parent .location .location-text .text-cn {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  #footer .container-footer .content-footer .location-parent .location .location-text .text-cn img {
    width: 20%;
  }
  #footer .container-footer .content-footer .location-parent .location .location-text .text-dv {
    font-size: 18px;
  }
  #footer .container-footer .content-footer .location-parent .location .items {
    display: block;
    -webkit-transform: translate(510px, -250px);
            transform: translate(510px, -250px);
  }
  #footer .container-footer .content-footer .location-parent .location .items p {
    display: block;
    line-height: 35px;
  }
}

/* responsive ipad*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .section {
    margin: 0;
  }
  #intro {
    background: #ffffff;
  }
  #intro .info .info-main {
    display: block;
    width: 100%;
  }
  #intro .info .info-main .img-info img {
    position: relative;
    width: 70%;
    -webkit-transform: translate(10px, 45%);
            transform: translate(10px, 45%);
  }
  #intro .info .info-main .content-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-transform: none;
            transform: none;
  }
  #intro .info .info-main .content-info img {
    position: absolute;
    top: 18.5%;
    -webkit-transform: none;
            transform: none;
    width: 70%;
  }
  #intro .info .info-main .content-info .content {
    position: relative;
    top: 18rem;
    width: 70%;
  }
  #intro .info .info-detail {
    position: relative;
    height: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #intro .info .info-detail .list-box-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 25px 35px 35px 35px;
  }
  #intro .info .info-detail .list-box-info .box-item {
    width: 255px;
    height: 200px;
    margin: 20px;
    margin: 0 40px;
  }
  #intro .info .info-detail .list-box-info .box-item .box-left {
    border: 3px dashed #898989;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-right: none;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    border-radius: 16px 0 0 16px;
  }
  #solution .swiper-container {
    height: 100%;
  }
  #solution .swiper-container .swiper-wrapper .swiper-slide .text {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
  #solution .swiper-container .swiper-wrapper .swiper-slide .btn-contact {
    width: 20%;
    bottom: 8%;
    font-size: 30px;
  }
  #customer .customer__all .customer__top {
    margin: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #customer .customer__all .customer__top .customer__test {
    width: 80%;
  }
  #customer .customer__all .customer__top .customer__img {
    left: 0;
  }
  #customer .customer__all .customer__top .customer__img img {
    width: 90%;
  }
  #customer .customer__all .customer__bottom {
    position: relative;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 85%;
    left: 50px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #customer .customer__all .customer__bottom .owl-theme .customer__logo {
    border: 2px dashed #aaaaaa;
    width: 190px;
    height: 190px;
  }
  #footer {
    background-color: #e5e5e5;
  }
  #footer .container-footer .footer-main {
    padding-bottom: 36px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-left: 15px;
    padding-right: 15px;
  }
  #footer .container-footer .footer-main #map {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  #footer .container-footer .footer-main #map iframe {
    height: 290px;
    width: 100%;
  }
  #footer .container-footer .footer-main .contact_us {
    padding-left: 10px;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  #footer .container-footer .footer-main .contact_us .title-contact {
    font-size: 0.8rem;
  }
  #footer .container-footer .content-footer {
    padding: 0  0 100px;
    width: 75vh;
    height: 100vh;
    border-radius: 30px;
    margin: 0;
    background-color: #ffffff;
  }
  #footer .container-footer .content-footer .location-parent .location .location-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #footer .container-footer .content-footer .location-parent .location .location-text .text-cn span {
    font-size: 18px;
  }
  #footer .container-footer .content-footer .location-parent .location .location-text .text-cn img {
    width: 25%;
  }
  #footer .container-footer .content-footer .location-parent .location .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #footer .container-footer .content-footer .location-parent .location .items p {
    padding-bottom: 10px;
    padding-right: 30px;
  }
  #footer .container-footer .content-footer .location-parent .location .items .center-items {
    padding-top: 20px;
    padding-bottom: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #footer .container-footer .content-footer .location-parent .location .items_3 {
    display: block;
  }
  .product .image-test {
    -webkit-transform: translate(30%, -25%);
            transform: translate(30%, -25%);
  }
}

@media only screen and (max-width: 768px) {
  #intro .info .info-main .content-info .content {
    top: 14rem;
  }
  #intro .info .info-detail {
    position: relative;
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #intro .info .info-detail .list-box-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 25px 0px 95px 30px;
  }
  #intro .info .info-detail .list-box-info .box-item {
    width: 170px;
    height: 175px;
    margin: 20px;
    margin: 0 30px;
  }
  #intro .info .info-detail .list-box-info .box-item .box-left {
    border: 3px dashed #898989;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-right: none;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    border-radius: 16px 0 0 16px;
  }
  #intro .info .info-detail .list-box-info .box-item .box-content .text-content .text-number {
    font-size: 34px;
  }
  #intro .info .info-detail .list-box-info .box-item .box-content .text-content .text-number .sysbol {
    -webkit-transform: translate(-20px, 20px);
            transform: translate(-20px, 20px);
  }
  #intro .info .info-detail .list-box-info .box-item .box-content .text-content .text-color2 .sysbol {
    -webkit-transform: translate(-12px, 38px);
            transform: translate(-12px, 38px);
  }
  #footer .container-footer .content-footer .location-parent .location .items_3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/* responsive phone*/
@media all and (min-width: 320px) and (max-width: 480px) {
  /* Styles */
  .header .menu-content {
    display: none;
  }
  .header .menu_mobile_container {
    display: block;
  }
  #home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #home .home-logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 40vh;
    min-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  #home .home-logo .logo-notext {
    padding-bottom: 10px;
  }
  #home .home-img .img-home {
    width: 40%;
  }
  #home .home-img .mouse {
    bottom: 5%;
  }
  #intro {
    padding-top: 3rem;
  }
  #intro .info {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #intro .info .info-main .content-info {
    -webkit-transform: translate(0px, 60px);
            transform: translate(0px, 60px);
  }
  #intro .info .info-main .content-info .content {
    font-size: 14px;
  }
  #intro .info .info-detail {
    height: unset;
  }
  #intro .info .info-detail .list-box-info {
    -webkit-transform: translate(0px, 70px);
            transform: translate(0px, 70px);
    padding: 0;
    margin-top: 50px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #intro .info .info-detail .list-box-info .box-item {
    width: 110px;
    height: 92px;
    margin: 0;
  }
  #intro .info .info-detail .list-box-info .box-item .box-content .text-content .text-number .counter {
    font-size: 36px;
  }
  #intro .info .info-detail .list-box-info .box-item .box-content .text-content .text-number .sysbol {
    font-size: 20px;
    -webkit-transform: translate(0px, 20px);
            transform: translate(0px, 20px);
  }
  #intro .info .info-detail .list-box-info .box-item .box-content .text-content .text-color2 .sysbol {
    -webkit-transform: translate(6px, 45px);
            transform: translate(6px, 45px);
  }
  #solution {
    padding-top: 3rem;
  }
  #solution .swiper-container {
    height: 100%;
  }
  #solution .swiper-container .swiper-wrapper .swiper-slide {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #solution .swiper-container .swiper-wrapper .swiper-slide .text-title {
    font-size: 15px;
  }
  #solution .swiper-container .swiper-wrapper .swiper-slide .btn-contact {
    width: 30%;
  }
  #solution .swiper-container .swiper-wrapper .swiper-slide .text {
    width: 90%;
    font-size: 0.7rem;
    line-height: 24px;
  }
  #customer {
    padding-top: 4rem;
  }
  #customer .customer__all .customer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0;
  }
  #customer .customer__all .customer__top .customer__test {
    width: 80%;
  }
  #customer .customer__all .customer__top .customer__test .customer__p {
    font-size: 12px;
    line-height: 20px;
  }
  #customer .customer__all .customer__top .customer__img {
    left: 15px;
  }
  #customer .customer__all .customer__top .customer__img img {
    width: 85%;
  }
  #customer .customer__all .customer__bottom {
    position: relative;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    top: 30px;
    margin: 15px;
  }
  #customer .customer__all .customer__bottom .owl-theme {
    margin: 0;
  }
  #customer .customer__all .customer__bottom .owl-theme .customer__logo {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin: 0;
    border: 1.4px dashed #aaaaaa;
    padding: 19px;
  }
  #footer .container-footer .footer-main {
    padding-bottom: 15px;
  }
  #footer .container-footer .footer-main #map iframe {
    width: 415px;
  }
  #footer .container-footer .footer-main .contact_us {
    margin-right: 30px;
    margin-left: 30px;
  }
  #footer .container-footer .footer-main .contact_us .btn-submit {
    margin-top: 10px;
  }
  #footer .container-footer .footer-main .contact_us .title-contact {
    font-size: 11px;
  }
  #footer .container-footer .content-footer {
    padding: 0;
    width: auto;
    height: 100vh;
    border-radius: 0;
    margin: 0 10px 0 10px;
  }
  #footer .container-footer .content-footer .location-parent {
    margin-top: -8px;
    margin-left: 15px;
  }
  #footer .container-footer .content-footer .location-parent .location .location-text .text-cn span {
    font-size: 12px;
  }
  #footer .container-footer .content-footer .location-parent .location .location-text .text-cn img {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    width: 20%;
  }
  #footer .container-footer .content-footer .location-parent .location .location-text .text-dv {
    font-size: 12px;
    padding-bottom: 0;
  }
  #footer .container-footer .content-footer .location-parent .location .items {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #footer .container-footer .content-footer .location-parent .location .items p {
    padding-bottom: 0px;
  }
  #footer .container-footer .content-footer .location-parent .location .items img {
    margin: 0;
  }
  #footer .container-footer .content-footer .location-parent .location .items .center-items {
    padding-top: 5px;
  }
  #solution .btn-contact {
    bottom: 10%;
  }
}

@media only screen and (min-width: 320px) and (max-height: 667px) and (max-width: 480px) {
  #intro {
    padding-top: 1.5rem;
  }
  #intro .info {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #intro .info .info-main .content-info {
    -webkit-transform: translate(0px, 60px);
            transform: translate(0px, 60px);
  }
  #intro .info .info-main .content-info .content {
    font-size: 10px;
  }
  #intro .info .info-detail {
    height: unset;
  }
  #intro .info .info-detail .list-box-info {
    -webkit-transform: translate(0px, 70px);
            transform: translate(0px, 70px);
    padding: 0;
    margin-top: 50px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #intro .info .info-detail .list-box-info .box-item {
    width: 110px;
    height: 92px;
    margin: 0;
  }
  #intro .info .info-detail .list-box-info .box-item .box-content .text-content .text-number .counter {
    font-size: 36px;
  }
  #intro .info .info-detail .list-box-info .box-item .box-content .text-content .text-number .sysbol {
    font-size: 20px;
    -webkit-transform: translate(0px, 20px);
            transform: translate(0px, 20px);
  }
  #intro .info .info-detail .list-box-info .box-item .box-content .text-content .text-color2 .sysbol {
    -webkit-transform: translate(6px, 45px);
            transform: translate(6px, 45px);
  }
}

@media (min-width: 380px) and (max-width: 480px) {
  #customer {
    padding-top: 4rem;
  }
  #customer .customer__all .customer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0;
  }
  #customer .customer__all .customer__top .customer__test {
    width: 80%;
  }
  #customer .customer__all .customer__top .customer__test .customer__p {
    font-size: 12px;
    line-height: 20px;
  }
  #customer .customer__all .customer__top .customer__img {
    left: 15px;
  }
  #customer .customer__all .customer__top .customer__img img {
    width: 85%;
  }
  #customer .customer__all .customer__bottom {
    position: relative;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    top: 30px;
  }
  #customer .customer__all .customer__bottom .owl-theme .customer__logo {
    width: 115px;
    height: 110px;
    border-radius: 20px;
    margin: 5px;
    border: 1.8px dashed #aaaaaa;
    padding: 10px;
  }
}

@media only screen and (min-height: 812px) {
  #intro .info .info-detail {
    top: 0;
  }
}

@media only screen and (max-width: 320px) and (max-height: 568px) {
  #intro {
    padding-top: 3rem;
  }
  #intro .info {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #intro .info .info-main .content-info {
    -webkit-transform: translate(0px, 60px);
            transform: translate(0px, 60px);
  }
  #intro .info .info-main .content-info .content {
    font-size: 10px;
    line-height: 16px;
  }
  #intro .info .info-detail {
    height: unset;
  }
  #intro .info .info-detail .list-box-info {
    -webkit-transform: translate(0px, 70px);
            transform: translate(0px, 70px);
    padding: 0;
    margin-top: 50px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #intro .info .info-detail .list-box-info .box-item {
    width: 85px;
    height: 76px;
    margin: 0;
  }
  #intro .info .info-detail .list-box-info .box-item .box-left {
    border: 2px dashed #898989;
  }
  #intro .info .info-detail .list-box-info .box-item .box-content {
    width: 62px;
    height: 73px;
  }
  #intro .info .info-detail .list-box-info .box-item .box-content .text-content .text-bot {
    font-size: 0.4rem;
    -webkit-transform: translate(-24px, 20px);
            transform: translate(-24px, 20px);
    padding-right: 15px;
  }
  #intro .info .info-detail .list-box-info .box-item .box-content .text-content .text-number .counter {
    font-size: 26px;
  }
  #intro .info .info-detail .list-box-info .box-item .box-content .text-content .text-number .sysbol {
    font-size: 20px;
    -webkit-transform: translate(0px, 20px);
            transform: translate(0px, 20px);
  }
  #intro .info .info-detail .list-box-info .box-item .box-content .text-content .text-color2 .sysbol {
    font-size: 16px;
    -webkit-transform: translate(5px, 38px);
            transform: translate(5px, 38px);
  }
  #solution .swiper-container {
    height: 100%;
  }
  #solution .swiper-container .swiper-wrapper .swiper-slide .btn-contact {
    width: 30%;
    padding: 10px 0;
  }
  .product .content-inside {
    -webkit-transform: translate(50%, 16rem);
            transform: translate(50%, 16rem);
  }
  #customer .customer__all .customer__bottom {
    margin: -2px;
  }
  #customer .customer__all .customer__bottom .owl-theme .customer__logo {
    width: 92px;
    height: 92px;
    margin-left: 5px;
  }
  #footer {
    padding-top: 3.5rem;
  }
  #footer .footer-main #map {
    height: 25vh;
  }
  #footer .footer-main .contact_us {
    line-height: 10px;
  }
  #footer .footer-main .contact_us .input-mess {
    height: 3rem;
  }
  #footer .footer-main .contact_us .input-phone-email {
    height: 3rem;
  }
  #footer .container-footer .content-footer .location-parent .location .location-text .text-dv {
    font-size: 8px;
  }
  #footer .container-footer .content-footer .location-parent .location .items p {
    font-size: 10px;
  }
}
/*# sourceMappingURL=indexs.css.map */