@keyframes zoom {
	0% {
		transform: scale(1);
	}
	10% {
		transform: scale(1.02);
	}
	20% {
		transform: scale(1.04);
	}
	40% {
		transform: scale(1.06);
	}
	60% {
		transform: scale(1.08);
	}
	80% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1.12);
	}
}
#home {
	margin: 0;
	background: linear-gradient(
		206.34deg,
		#b4e7e5 -22.46%,
		#115567 5.55%,
		#3f6288 40.23%,
		#56789c 70.25%,
		#465f7a 105.59%
	);

	.home-img {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 12rem;
		div {
			position: absolute;
			width: 80px;
			height: 80px;
			border-radius: 50%;
			background-color: #ce1126;
			background-clip: content-box;
			padding: 100px;
			border: 40px solid rgba(255, 255, 255, 0.03);
		}
		.circle {
			z-index: 4;
			padding: 98px;
			box-shadow: 1px 0px 1px 3px rgba(255, 255, 255, 0.04);
			animation-name: zoom;

			animation-duration: 1s;
			animation-delay: 1s;
			animation-iteration-count: infinite;
		}
		.circle1 {
			z-index: 3;
			padding: 138px;
			box-shadow: 1px 0px 1px 3px rgba(255, 255, 255, 0.04);
			animation-name: zoom;

			animation-duration: 1s;
			animation-delay: 1s;
			animation-iteration-count: infinite;
		}
		.circle2 {
			z-index: 2;
			padding: 178px;
			box-shadow: 1px 0px 1px 3px rgba(255, 255, 255, 0.04);
			animation-name: zoom;

			animation-duration: 1s;
			animation-delay: 2s;
			animation-iteration-count: infinite;
		}
		.circle3 {
			z-index: 1;
			padding: 218px;
			box-shadow: 1px 0px 1px 3px rgba(255, 255, 255, 0.04);
			animation-name: zoom;

			animation-duration: 1s;
			animation-delay: 3s;
			animation-iteration-count: infinite;
		}
		.img-home {
			width: 25%;
		}
	}
}

/*silde customer*/
.owl-carousel .owl-stage-outer {
	overflow: visible !important;
	top: 300px;
}

.center {
	.text-center {
		display: flex;
		.card-body {
			position: absolute;
			display: flex;
			top: -275%;
			left: -50%;
			width: 250%;
			align-items: center;
			justify-content: center;
			.card-body-text {
				flex-basis: 40%;
				.card-text {
					text-align: justify;
					font-family: SVN-Avo;
					font-style: normal;
					font-weight: normal;
					font-size: 20px;
					line-height: 28px;
					text-align: justify;

					color: #465f7a;
					img {
						display: inline-block;
						width: 5%;
					}
				}
			}
			.card-body-img {
				position: relative;
				left: 110px;
				flex-basis: 60%;
				margin: auto;
				img {
					width: 70%;
				}
			}
		}
	}
}

#customer {
	padding-top: 7rem;
	.customer__all {
		display: flex;
		flex-direction: column;
		margin: auto;
		.customer__top {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.customer__test {
				flex-basis: 30%;
				.customer__p {
					text-align: justify;
					font-size: 18px;
					line-height: 22px;
					color: #465f7a;
					font-style: normal;
					font-weight: bold;
					font-family: SVN-Avo;
				}
			}
			.customer__img {
				position: relative;
				left: 110px;
				flex-basis: 60%;
				margin: auto;
				img {
					width: 60%;
				}
			}
		}
		.gtco-testimonials {
			position: relative;
			margin: 50px 0;
			top: -360px;
		}
		.customer__bottom {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			.customer__logo {
				text-align: center;
				img {
					width: 70%;
					top: 10px;
					opacity: 0.5;
					filter: alpha(opacity=50);
				}
				margin: 15px;
				background: #ffffff;
				border: 1px dashed #aaaaaa;
				box-sizing: border-box;
				border-radius: 30px;
			}
			.change-img {
				position: absolute;
				right: 20%;
				text-align: center;
				margin-top: 1rem;
			}
		}
	}
}
/* responsive ipad*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	/* Styles */
	#customer {
		.customer__all {
			.customer__top {
				flex-direction: column-reverse;
				.customer__test {
					width: 70%;
					.customer__p {
					}
				}
				.customer__img {
					left: 0;
					img {
						width: 100%;
					}
				}
			}
			.customer__bottom {
				position: relative;
				text-align: center;
				flex-wrap: wrap;
				padding: 25px;
				width: 85%;
				left: 80px;
				justify-content: space-around;
				.customer__logo {
				}
			}
		}
	}
}

/* responsive phone*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
	/* Styles */
	.menu-mobile,
	.menu-mobile__logo {
		display: block;
	}

	#customer {
		.customer__all {
			.customer__top {
				flex-direction: column-reverse;
				.customer__test {
					width: 80%;
					.customer__p {
						font-size: 14px;
					}
				}
				.customer__img {
					left: 0;
					img {
						width: 100%;
					}
				}
			}
			.customer__bottom {
				position: relative;
				text-align: center;
				flex-wrap: wrap;
				width: 100%;
				top: 30px;

				// justify-content: space-around;
				.customer__logo {
					border-radius: 20px;
					width: 24%;
					img {
						top: 5px;
					}
				}
			}
		}
	}
}
